/* Write your CSS here! */
body {
    background-color: darkslategray;
    margin: 8px;
    display: block;
}
#mainHeading {
    color: rgb(228, 85, 85)
}
.funParagraph {
    color: rgb(95, 248, 133)
}
p {
    padding: 40 px;
    padding-right: 80px;
    margin-left: 40px;
    margin-bottom: 20px;
}
h2 {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 40px
   padding-top: 60px;
    padding: 20px;
}
h3 {
    margin-left: 25px;
    padding: 20px;
}
img {
    max-width: 50%;
    height: auto;
    padding: 40px
}